<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{{img}}" alt="" class="image-fluid">
        </div>
        <div class="col-4">
            <h1>{{name}}</h1>
            <h4>{{price}}</h4>
            <button class="btn">Agregar al carrito</button>
        </div>
    </div>
</div>